main{
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    width: 100vw;
}
section{
    height: 100%;
    min-width: 100%;
}


::-webkit-scrollbar {
    width: 20px;
    height: 15px;
    position: absolute;
}
 
::-webkit-scrollbar-thumb {
    background: #0002;
}
::-webkit-scrollbar-thumb:hover {
    background: #0005;
}

@media(max-width:960px){
    main{
        width: unset;
    }
}