#TURMA{
    display: grid;
    grid-template-areas:
    "filtro"
    "titulo"
    "alunos" 
    ;
    grid-template-rows: 60px 150px 1fr;
}
#status_turma{
    overflow-y: hidden;
    height: 19px;
    align-self:start;
    width: 150px;
    transition: 0.5s;
    transform: translate(0px,15px);
}
#status_turma a:hover{
    cursor: pointer;
}
#status_turma li:hover{
    cursor: pointer;
}
#status_turma ul{
    background-color: #3347B0;
    align-self: end;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    
}
#status_turma li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

#turma__filtro{
    grid-area: filtro;
    display: flex;
    justify-content: space-between;
    padding-left: 95px;
    padding-right: 95px;
    align-items: center;
    background-color:#BCC2E5;
}
#legenda{
    display: flex;
    gap: 20px;
    color: #3347B0;
    font-weight: 500;
}
#legenda div{
    height: 20px;
    width:20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
#cursando{
    background-color: #3347B0;
}
#finalizado{
    background-color: #E5B657;
}

#turma__titulo{
    grid-area: titulo;
    display: grid;
    place-items: center;
    font-size: 4rem;
    color: #3347B0;
    text-align: center;
}
#turma__alunos{
    grid-area: alunos;
    display: flex;
    flex-wrap: wrap;
    gap: 62px;
    justify-content: center;
    padding-bottom: 114px;
}
.turma__alunos__container{
    display: flex;
    flex-wrap: wrap;
    gap: 62px;
    justify-content: center;
}
.turma__card{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;
    line-height: 27px;
    text-transform: uppercase;
}
.turma__card p{
    padding: 0px 20px 20px 20px;
}
.turma__card:hover{
    cursor: pointer;
}
.turma__card__cursando{
    background-color: #3347B0;
}
.turma__card__finalizado{
    background-color: #E5B657
}

.aluno__img{
    height: 200px;
    width: 200px;
}

@media(max-width:960px){
    #turma__filtro{
        display: flex;
        justify-content: unset;
        padding-left: 0px;
        padding-right: 0px;
        align-items: unset;
    }
    #legenda{
        display: none;
    }
    #status_turma{
        overflow-y: hidden;
        height: 19px;
        align-self:start;
        width: 100%;
        transition: 0.5s;
        transform: translate(0px,15px);
    }
    #status_turma_selected{
        width: 100%;
        padding-left: 20px;
    }
    #turma__titulo{
        font-size: 2.8rem;
    }
    .turma__alunos__container{
        padding-top: 20px;
        gap: 62px;
    }
}